local   all         all       trust
host    all         all         127.0.0.1/32 md5
host    all         all         ::1/128      md5

{% if postgresql_ssl %}
hostssl replication replication 0.0.0.0/0    md5
hostssl all         all         0.0.0.0/0    md5
{% endif %}

