#!/bin/expect -f
# set to 1 to force conservative mode even if
# script wasn't run conservatively originally
set force_conservative 0  
			 
if {$force_conservative} {
	set send_slow {1 .1}
	proc send {ignore arg} {
		sleep .1
		exp_send -s -- $arg
	}
}

set timeout -1
set send_slow {1 .1}
spawn setup-ds-admin.pl --keepcache
match_max 100000

expect "Would you like to continue with set up?"
sleep .1
send -s -- "yes\r"

expect "Would you like to continue?"
sleep .1
send -s -- "yes\r"

expect -exact "Choose a setup type \[2\]: "
sleep .1
send -s -- "2\r"

expect -exact "Computer name \[ds_1.entipi.com\]: "
sleep .1
send -s -- "{{ldap_server_fqdn}}\r"

expect -exact "System User \[nobody\]: "
sleep .1
send -s -- "apache\r"

expect -exact "System Group \[nobody\]: "
sleep .1
send -s -- "apache\r"

expect -exact "configuration directory server? \[no\]: "
sleep .1
send -s -- "no\r"

expect -exact "administrator ID \[admin\]: "
sleep .1
send -s -- "admin\r"

expect -exact "Password: "
sleep .1
send -s -- "{{ds_admin_password}}\r"

expect -exact "Password (confirm): "
sleep .1
send -s -- "{{ds_admin_password}}\r"

expect -exact "Administration Domain \[entipi.com\]: "
sleep .1
send -s -- "{{administration_domain}}\r"

expect -exact "Directory server network port \[389\]: "
sleep .1
send -s -- "389\r"

expect -exact "Directory server identifier \[ds_1\]: "
sleep .1
send -s -- "\r"

expect -exact "Suffix \[dc=entipi, dc=com\]: "
sleep .1
send -s -- "\r"

expect -exact "Directory Manager DN \[cn=Directory Manager\]: "
sleep .1
send -s -- "\r"

expect -exact "Password: "
sleep .1
send -s -- "{{ds_dm_password}}\r"

expect -exact "Password (confirm): "
sleep .1
send -s -- "{{ds_dm_password}}\r"

expect -exact "Administration port \[9830\]: "
sleep .1
send -s -- "9830\r"

expect -exact "Are you ready to set up your servers? \[yes\]: "
sleep .1
send -s -- "yes\r"

expect eof
